
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    background-color: greenyellow;
}

#titulo2 {
    color: green;
}

.meutituloclass {
    color: purple;
}

/* 
Aqui podemos colocar um ou mais elementos e deixá-los  na mesma formatação
apenas separando os elementos por virgula */

#titulo3, .classh2 {
    color: green;
}

ol li {
    color: green;
    font-weight: bold;
}

p {
    border: 10px dashed #00ff
}

div {
   
    width: 200px;
    height: 200px;
    /* border-radius: 200px; */
    border: 3px solid black;
    

    
    display: inline-block;
}
#diego {
    background-image: url("img/file1.png");
    margin:10px 40px;
    

}